* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-size: 16px;
  --light-gray: rgb(136, 136, 136);
}
body {
  height: 100vh;
}
/* shared flex properties */
body,
.menus-container,
.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
/* hamburger menus general*/
.menus-container {
  width: 31vw;
  height: 31vw;
  border: var(--light-gray) solid 0.5rem;
}
.menu {
  width: 10rem;
  height: 10rem;
  background-color: rgb(174, 225, 245);
  padding: 1rem;
  cursor: pointer;
}
/* moving box always needs position:absolute ?????*/

.bars {
  width: 7.5rem;
  height: 1rem;
  background-color: var(--light-gray);
  border-radius: 5rem;
  z-index: 2;
}

/* animations */
/* 
shorthand in this order?:
animation-name: none
animation-duration: 0s
animation-timing-function: ease
animation-delay: 0s
animation-iteration-count: 1
animation-direction: normal
animation-fill-mode: none
animation-play-state: running
*/

/* first menu */
.menu-first {
  position: relative;
  animation-name: drop-down;
  animation-duration: 2.4s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: reverse;
  animation-fill-mode: none;
  animation-play-state: paused;
}
@keyframes drop-down {
  from {
    bottom: 0;
  }
  to {
    bottom: 45vh;
    background-color: coral;
  }
}
.menu-first .bars {
  height: 1.85rem;
  width: 1.85rem;
  margin: 0.33rem;
}
/* .menu-first:hover .bars {
  scale: 1.5;
  background-color: hotpink;
  cursor: pointer;
} */

/* second menu */
.menu-second {
  position: relative;
  animation-name: diagonal;
  animation-duration: 2.1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: reverse;
  animation-fill-mode: none;
  animation-play-state: paused;
  transform: rotate(-180deg);
  transition-duration: 2s;
}
@keyframes diagonal {
  from {
    bottom: 0;
    left: 0;
  }
  to {
    bottom: 45vh;
    left: 17vw;
    background-color: green;
  }
}

/* third menu */
.menu-third {
  position: relative;
  /* adjust z-index! */
  z-index: 5;
  animation-name: from-top;
  animation-duration: 1.7s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: reverse;
  animation-fill-mode: none;
  animation-play-state: paused;
}
@keyframes from-top {
  from {
    bottom: 0;
  }
  to {
    bottom: 45vw;
    background-color: yellow;
  }
}
.menu-third::before {
  content: "";
  /* background-color: violet; */
  position: absolute;
  width: 10rem;
  height: 10rem;
  z-index: -1;
  animation-name: from-right-before;
  animation-duration: 1.7s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: reverse;
  animation-fill-mode: none;
  animation-play-state: paused;
}
@keyframes from-right-before {
  from {
    left: 0;
  }
  to {
    left: 45vw;
    background-color: orange;
  }
}

/* fourth menu */
.menu-fourth {
  flex-direction: column;
}
.menu-fourth .bars {
  height: 1.85rem;
  width: 1.85rem;
  margin: 0.33rem;
  background-color: var(--light-gray);
  border-radius: 5rem;
  z-index: 3;
}
.menu-fourth:hover {
  background-color: aquamarine;
  transform: scale(1.3);
  transition-duration: 1s;
  z-index: 5;
  box-shadow: grey 0rem 0.4rem 0.6rem;
}
.menu-fourth:hover .bars {
  width: 7.5rem;
  height: 1rem;
  transition-duration: 1s;
  background-color: var(--light-gray);
  border-radius: 5rem;
  z-index: 3;
}
/* I have yet to find out why the bars are not centered with hover and width 8rem */

/* fifth menu */
.menu-fifth {
  animation-name: fifth;
  animation-duration: 7s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  position: relative;
  animation-play-state: paused;
}
/* without transition duration or animation duration the transition does not take effect */

@keyframes fifth {
  0% {
    /* transform: rotate(0); */
    transform: translateX(0);
    transition-duration: 0.3s;
  }
  25% {
    /* transform: rotate(90deg); */
    transform: translateX(-500px);
    transition-duration: 0.3s;
  }
  50% {
    /* transform: rotate(180deg); */
    transform: translate(-500px, -500px);
    transition-duration: 0.3s;
  }
  75% {
    /* transform: rotate(270deg); */
    transform: translate(0, -500px);
    transition-duration: 0.3s;
  }
  100% {
  }
}
.menu-fifth .bars {
  transform: rotate(720deg);
  transition-timing-function: ease-in;
  transition-duration: 6s;
  transition-delay: 0.3s;
}

/* sixth menu */
/* animation for each bar */
.menu-sixth:hover .line1 {
  position: relative;
  animation-name: sound-bar1;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
}
@keyframes sound-bar1 {
  from {
    margin-right: 0;
    /* background-color: var(--light-gray); */
  }
  to {
    margin-right: 4rem;
    background-color: palevioletred;
  }
}
.menu-sixth:hover .line2 {
  position: relative;
  animation-name: sound-bar2;
  animation-duration: 1.4s;
  animation-timing-function: cubic-bezier(0, 0.61, 0.68, 0.54);
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
}
@keyframes sound-bar2 {
  from {
    margin-right: 0;
    background-color: var(--light-gray);
  }
  to {
    margin-right: 4rem;
    background-color: palevioletred;
  }
}
.menu-sixth:hover .line3 {
  position: relative;
  animation-name: sound-bar3;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
}
@keyframes sound-bar3 {
  from {
    margin-right: 0;
    background-color: var(--light-gray);
  }
  to {
    margin-right: 4rem;
    background-color: palevioletred;
  }
}

/* animation for when clicked */
/* .menu-sixth .bars {
  position: relative;
  animation-name: sound-bars;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: paused;
}
@keyframes sound-bars {
  from {
    background-color: palevioletred;
    opacity: 0;
  }
  to {
    background-color: palevioletred;
    opacity: 1;
  }
} */

/* --------------------- */
/* dice */
.dice-container,
.dice,
.two-eyes,
.three-eyes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.dice-container {
  width: 19vw;
  height: 14vw;
  background-color: var(--light-gray);
}
.dice {
  width: 6rem;
  height: 6rem;
  background-color: rgb(246, 46, 46);
}
.eyes {
  width: 1rem;
  height: 1rem;
  background-color: mintcream;
  border-radius: 50%;
  /* border: navy solid 1px; */
}
/* shared properties of eyes's parent containers */
.two-eyes,
.three-eyes,
.eyes-row {
  display: flex;
  /* border: navy 2px dashed; */
  justify-content: space-between;
  width: 5.5rem;
}

/* first die no individual setting */

/* second die */
.dice-second .eye2 {
  align-self: flex-end;
}
.two-eyes {
  transform: rotate(-45deg);
}

/* third die */
.three-eyes {
  transform: rotate(-45deg);
}

/* fourth die */
.eyes-row {
  width: 4rem;
}

/* fifth die */
/* using grid here to practice grid */
.dice-fifth {
  display: grid;
  position: relative;
  height: 6rem;
  width: 6rem;
  /* justify-content: space-between; */
  justify-items: center;
  /* align-items: center; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "eye1 . eye2"
    ". eye3 ."
    "eye1 . eye5";
}
.dice-fifth .eyes {
  position: absolute;
}
.dice-fifth .eye1 {
  /* position: absolute; */
  background-color: darkorchid;
  grid-area: eye1;
}
.dice-fifth .eye2 {
  /* position: absolute; */
  background-color: darkred;
  grid-area: eye2;
}
.dice-fifth .eye3 {
  background-color: deepskyblue;
  grid-area: eye3;
}
.dice-fifth .eye4 {
  grid-area: eye4;
  background-color: forestgreen;
}
.dice-fifth .eye5 {
  grid-area: eye5;
}

/* sixth die has no individual setting */
