* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-size: 16px;
  --light-gray: rgb(136, 136, 136);
}
body {
  height: 100vh;
}
/* shared flex properties */
body,
.menus-container,
.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
/* hamburger menus */
.menus-container {
  width: 31vw;
  height: 31vw;
  border: var(--light-gray) solid 0.5rem;
  /* position: absolute; */
}
.menu {
  width: 10rem;
  height: 10rem;
  background-color: skyblue;
  padding: 1rem;
  /* position: relative; */
}
/* moving box always needs position:absolute ?????*/

.bars {
  width: 8rem;
  height: 1rem;
  background-color: var(--light-gray);
  border-radius: 5rem;
  z-index: 3;
}

/* animations */
/* 
for shorthand in this order?:
animation-name: none
animation-duration: 0s
animation-timing-function: ease
animation-delay: 0s
animation-iteration-count: 1
animation-direction: normal
animation-fill-mode: none
animation-play-state: running 
*/

/* first menu */
.menu-first {
  position: relative;
  animation-name: drop-down;
  animation-duration: 2.4s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: reverse;
  animation-fill-mode: none;
  animation-play-state: running;
}
@keyframes drop-down {
  from {
    bottom: 0;
  }
  to {
    bottom: 45vh;
    background-color: coral;
  }
}
.menu-first .bars {
  height: 2rem;
  width: 2rem;
  margin: 0.33rem;
}

/* second menu */
.menu-second {
  position: relative;
  animation-name: diagonal;
  animation-duration: 2.1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: reverse;
  animation-fill-mode: none;
  animation-play-state: running;
  transform: rotate(-180deg);
  transition-duration: 2s;
}
@keyframes diagonal {
  from {
    bottom: 0;
    left: 0;
  }
  to {
    bottom: 45vh;
    left: 17vw;
    background-color: green;
  }
}

/* third menu */
.menu-third {
  position: relative;
  /* background-color: teal; */
  z-index: 5;
  animation-name: from-top;
  animation-duration: 1.7s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: reverse;
  animation-fill-mode: none;
  animation-play-state: running;
}
@keyframes from-top {
  from {
    bottom: 0;
  }
  to {
    bottom: 45vw;
    background-color: yellow;
  }
}
.menu-third::before {
  content: "";
  /* background-color: violet; */
  position: absolute;
  width: 10rem;
  height: 10rem;
  z-index: -1;
  animation-name: from-right-before;
  animation-duration: 1.7s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: reverse;
  animation-fill-mode: none;
  animation-play-state: running;
}
@keyframes from-right-before {
  from {
    left: 0;
  }
  to {
    left: 45vw;
    background-color: orange;
  }
}

/* fourth menu */
.menu-fourth {
  flex-direction: column;
}
.menu-fourth .bars {
  height: 2rem;
  width: 2rem;
  margin: 0.33rem;
  background-color: var(--light-gray);
  border-radius: 5rem;
  z-index: 3;
}
.menu-fourth:hover {
  background-color: rgb(238, 158, 101);
  transform: scale(1.3);
  transition-duration: 1s;
  z-index: 5;
}
.menu-fourth:hover .bars {
  width: 8rem;
  height: 1rem;
  transition-duration: 2s;
  background-color: var(--light-gray);
  border-radius: 5rem;
  z-index: 3;
}

/* fifth menu */
.menu-fifth {
  animation-name: fifth;
  animation-duration: 7s;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-timing-function: linear;
  position: relative;
}
/* without transition duration or animation duration the transition does not take effect */

@keyframes fifth {
  0% {
    /* transform: rotate(0); */
    transform: translateX(0);
    transition-duration: 0.3s;
  }
  25% {
    /* transform: rotate(90deg); */
    transform: translateX(-500px);
    transition-duration: 0.3s;
  }
  50% {
    /* transform: rotate(180deg); */
    transform: translate(-500px, -500px);
    transition-duration: 0.3s;
  }
  75% {
    /* transform: rotate(270deg); */
    transform: translate(0, -500px);
    transition-duration: 0.3s;
  }
  100% {
  }
}

.menu-fifth .bars {
  transform: rotate(360deg);
  transition-duration: 6s;
  /* transition: 7s; */
  transition-delay: 0.7s;
}

/* dice */
.dice-container,
.dice,
.two-eyes,
.three-eyes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.dice-container {
  width: 19vw;
  height: 14vw;
  background-color: var(--light-gray);
}
.dice {
  width: 6rem;
  height: 6rem;
  background-color: mediumspringgreen;
  border: navy 3px solid;
  /* padding: 0.5rem; */
}
.eyes {
  width: 1rem;
  height: 1rem;
  background-color: mintcream;
  border-radius: 50%;
  border: navy solid 1px;
}
/* first die */
/* .dice-first .eye1 {
} */

/* second die */
/* .dice-second,
.two-eyes {
  justify-content: space-between;
  align-items: flex-start;
} */
.dice-second .eye2 {
  align-self: flex-end;
}
.two-eyes {
  display: flex;
  justify-content: space-between;
  border: navy 2px dashed;
  width: 10rem;
  transform: rotate(-45deg);
}

/* third die */
.three-eyes {
  transform: rotate(-45deg);
  border: navy 2px dashed;
  width: 10rem;
  justify-content: space-between;
}
.three-eyes .eye1 {
  align-self: flex-start;
}
